html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: "Urbanist";
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #530a15;
}

header {
    color: #d7930b;
    background-color: #1b1302;
    padding: 0.25rem 1rem;

    overflow: auto;
    max-height: 20vh;
}

.wrapper{
    padding: 2rem;
    max-height: 80vh;
}

#arrows_right, #arrows_left {
    width: 50px;
    height: 30rem;
}

.score_arrow_left {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    margin-right: -5px;
}

.score_arrow_right, .score_arrow_left {
    background-image: url("arrow_right.svg");
    height: 6rem;
    width: calc(6rem * (0.5));
    background-size: contain;
    margin: 0rem;
}


main {
    height: 30rem;
    min-width: 36rem;
    overflow: hidden;
}

aside {
    height: 100%;
    max-height: 100%;
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    
    border-style: solid;
    border-radius: 1rem;
    border-color: #d7930b;
    border-width: 0.25rem;

    text-align: center;
    color: #fff;
    font-family: "Crimson Pro", serif;

    overflow: auto;
}

aside h2 {
    font-family: "Crimson Pro", serif;
}

aside h2::after {
    content: "☜";
    font-family: "Crimson Pro", serif;
}

aside h2::before {
    content: "☞";
    font-family: "Crimson Pro", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Urbanist Semibold";

}

h1 {
    font-weight: normal;
    font-size: 1rem;
}

h1 strong {
    font-size: 2.5rem;
}

#cocktail {
    max-height: 100%;
    max-width: 100%;
}

#cocktail ul {
    margin: 0.25rem 0rem 0.05rem 0rem;
    padding: 0.25rem 0.25rem 0.45rem 0.25rem;
    border-style: solid none;
    border-color:#fff;
    border-width: 0.1rem;
}

#cocktail p {
    margin: 0;
    padding: 0;
}

#scoreboard {
    font-size: 2em;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    
}

#scoreboard * {
    margin: 0;
    padding: 0;
}

#wheel_frame {
    /*background-color: #000;*/
    padding: 0.3rem 0.1rem;
    margin: 0;
    z-index: 1;

    
   
}

#wheel_overlay {
    z-index: 3;
}


#slots {
    height: 30rem;
    overflow: hidden;
    padding: -6rem 0 0 0;
    z-index: 5;


}


.slot {
    width: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    z-index: 2;
    
    background: rgb(150,147,139);
    background: linear-gradient(0deg, rgba(150,147,139,1) 0%, rgba(255,255,255,1) 25%, rgba(228,221,208,1) 75%, rgba(150,147,139,1) 100%);

    margin: 0;
    
}

.field {
    z-index: -1;
    height: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    border: 0.3rem solid #1b1302;
    border-width: 0.15rem 0.3rem;
    margin: 0;
    /*
    Font Stack: Nathan (1)
    I don't know the original source but got it from https://alanhogan.github.io/system-font-stack-experiments/index.html
    */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Emoji", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Symbol";
    position: relative;
    /* top: -3rem; */
}

.flex {
    display: flex;
}

.fcenter {
    align-items: center;
    justify-content: center;
}

.fgrow {
    flex-grow: 1;
}

.fv {
    flex-direction: column;
}

.fh {
    flex-direction: row;
}

* {
    box-sizing: border-box;
}